{% extends 'base.html'%} {% load static%} {% block content%}

<div class="row mb-4  mr-4 ml-4">
    <div class="col-md-1"></div>
    <div class="col-md-10 card pb-4 pt-4 pl-4 pr-3">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <img src="{% static 'img/me.jpg'%}" alt="" class="img-responsive img-circle" style="width:300px;border-radius:300px; border: solid 1px;text-align:center  ;height:300px">
            </div>
            <div class="col-md-2"></div>
        </div>
        <span style="font-size:2em">Hi</span> my name is Dellan Muchengapadare and i am a web developer with python and django my backend development is database. Most of my work is around django though i am a well exprienced php programmer as well i do my frontend with the help f css html5 javascript jquery and bootstrap

    </div>
    <div class="col-md-1"></div>
</div>

{% endblock%}